*:not(.print):not(.print *):not(html):not(head):not(body):not(#root):not(.app):not(.cv),
.print .cv-photo, .search-bar-container, .projects-introduction, #dropped {
    display: none;
}

.print {
    margin: 0 auto;
    background-color: white;
    color: black;
    /*padding: 2em;*/
    border: none;
    /*font-size: 14px;*/
    /*min-height: calc(297mm - 4em);*/
    /*height: calc(297mm - 4em);*/
    /*width: calc(210mm - 4em);*/
}

.print .header-data {
    flex: auto;
}

.app {
    background-color: white;
    padding: 0;
    min-height: auto;
}

.code {
    color: var(--black)
}

.entry {
    margin-bottom: 0;
}

h1 {
    font-size: 3em;
}