:root {
  /* MAIN COLORS - DEPENDING ON THE THEME */
  --background: #ffffffde;
  --text-primary: #121212;
  --text-secondary: #ffffffde;
  --accent: #4E8FDF;
  --accent-shadow: #08324e;

  /* GENERAL COLORS */
  --white: #ffffffde;
  --black: #121212;

  --link: #646cff;
  --link-hover: #535bf2;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.25rem;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme='dark'] {
  --background: #121212;
  --text-primary: #ffffffde;
  --text-secondary: #121212;
  --accent: #4E8FDF;
  --accent-shadow: #9bb8dc;
  --git-color: #1B1F24;
  --git-bg: var(--white);
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
}

body {
  margin: 0;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1em;
  margin: 0.5rem 0;
}

.app {
  background-color: aqua;
  max-width: 1480px;
  padding: 0 calc((100vw - 1480px) / 2);
}

@media (max-width: 1850px) {
  /* styles for devices with a maximum width of 1850px */
  /* 
    Things to fix:
  */
  .app {
    padding: 0 10% 0 10%;
    background-color: orange;
  }

  h1 {
    font-size: 3em;
  }
}

@media (max-width: 1366px) {
  /* styles for devices with a maximum width of 1366px */
  /* 
    Things to fix:
  */
  .app {
    background-color: yellow;
  }

  h1 {
    font-size: 2.5em;
  }
}

@media (max-width: 1024px) {
  /* styles for devices with a maximum width of 1024px */
  /* 
    Things to fix:
      Name of projects splitted
  */
  .app {
    padding: 0 5% 0 5%;
    font-size: 1rem;
    background-color: green;
  }

  h1 {
    font-size: 2em;
  }

  .top-bar {
    justify-content: space-between !important;
  }

  .theme-changer {
    position: relative !important;
    left: auto !important;
  }

  .lang-switcher {
    position: relative !important;
    right: auto !important;
  }
}

@media (max-width: 768px) {
  /* styles for devices with a maximum width of 768px */
  /* 
    Things to fix:
      Name of projects splitted
  */
  .app {
    font-size: 0.75rem;
    background-color: blue;
  }

  h1 {
    font-size: 2.5em;
  }
}

@media (max-width: 550px) {
  /* styles for devices with a maximum width of 550px */
  /* 
    Things to fix:
      Text in sections gets splitted
      Name of projects splitted
      Tags of projects go over the edge
  */
  .app {
    background-color: red;
  }

  .navBar-item {
    width: 6em !important;
  }
}