/* Root Variables and Global Styles */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.25rem;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-size-h1: 3.2em;
  --font-size-h1-1850: 3em;
  --font-size-h1-1366: 2.5em;
  --font-size-h1-1024: 2em;
  --font-size-h1-768: 2.5em;
  --font-size-body: 1rem;
  --font-size-body-768: 0.75rem;
  --padding-app: 0 calc((100vw - 1480px) / 2);
  --padding-app-1850: 0 10%;
  --padding-app-1024: 0 5%;
}

/* Body Styles */
body {
  margin: 0;
  min-width: 320px;
}

/* Heading Styles */
h1 {
  font-size: var(--font-size-h1);
  line-height: 1em;
  margin: 0.5rem 0;
}

/* Anchor Styles */
a {
  color: var(--text-primary);
  text-decoration: inherit;
}

a:hover {
  cursor: pointer;
  text-shadow: 0 0 10px var(--accent-shadow);
}

/* App Container Styles */
.app {
  max-width: 1480px;
  padding: var(--padding-app);

  --small-screen: 0;
}

/* Media Queries */

@media print {
  @page {
    size: A4 landscape;
  }
}

/* Styles for devices with a maximum width of 1850px */
@media (max-width: 1850px) {
  h1 {
    font-size: var(--font-size-h1-1850);
  }

  .app {
    padding: var(--padding-app-1850);
  }
}

/* Styles for devices with a maximum width of 1366px */
@media (max-width: 1366px) {
  h1 {
    font-size: var(--font-size-h1-1366);
  }
}

/* Styles for devices with a maximum width of 1024px */
@media (max-width: 1024px) {
  h1 {
    font-size: var(--font-size-h1-1024);
  }

  .app {
    padding: var(--padding-app-1024);
    font-size: var(--font-size-body);
  }

  .top-bar {
    justify-content: space-between !important;
  }

  .theme-changer {
    position: relative !important;
    left: auto !important;
  }

  .lang-switcher {
    position: relative !important;
    right: auto !important;
  }
}

/* Styles for devices with a maximum width of 768px */
@media (max-width: 768px) {
  h1 {
    font-size: var(--font-size-h1-768);
  }

  .app {
    font-size: var(--font-size-body-768);
    --small-screen: 1;
  }
}

/* Styles for devices with a maximum width of 550px */
@media (max-width: 550px) {
  .navBar-item {
    width: 6em !important;
  }
}