:root {
  /* MAIN COLORS - DEPENDING ON THE THEME */
  --background: #ffffffde;
  --text-primary: #121212;
  --text-secondary: #ffffffde;
  --accent: #4E8FDF;
  --accent-shadow: #08324e;

  /* GENERAL COLORS */
  --white: #ffffffde;
  --black: #121212;

  --link: #646cff;
  --link-hover: #535bf2;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.25rem;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme='dark'] {
  --background: #121212;
  --text-primary: #ffffffde;
  --text-secondary: #121212;
  --accent: #4E8FDF;
  --accent-shadow: #9bb8dc;
  --git-color: #1B1F24;
  --git-bg: var(--white);
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
}

body {
  margin: 0;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1em;
}

@media screen and (max-width: 2000px) {
  .app {
    padding: 0 10% 0 10%;
  }
}

@media screen and not (max-width: 2000px) {
  .app {
    padding: 0 20% 0 20%;
  }
}